//
// Buttons
//

button,
[type=button],
[type=reset],
[type=submit] {
  background-color: var(--color-link);
  border: none;
  color: var(--color-link-fore);
  cursor: pointer;
  font-size: 90%;
  font-weight: 700;
  padding: 6pt 12pt;
  text-align: center;
  transition: background-color 250ms;
  -webkit-appearance: none;
  &:hover {
    background-color: var(--color-link-light);
  }
  &:active {
    background-color: var(--color-link-dark);
  }
}
