inverted()
  color var(--color-back)
  background-color var(--color-fore)

disabled()
  color var(--color-fore-line)
  background-color var(--color-back-line)

link-inverted()
  color var(--color-link-fore)
  background-color var(--color-link)
