//
// Forms
//

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 320px;
  h1 {
    text-align: center;
  }
}

input,
select,
textarea {
  border: 0;
  padding: 0.5rem;
  user-select: text;
}

label {
  font-size: 80%;
  margin-bottom: 1rem;
  min-width: 320px;
  // &:has(> [disabled]) {
  //   opacity: 0.6;
  //   user-select: none;
  // }
  input[type=checkbox] {
    margin: 0 0.25rem 0 0;
  }
  input:not([type=checkbox]) {
    background-color: var(--color-back-line);
    color: var(--color-fore);
    display: block;
    margin: 0.25rem 0 0 0;
    width: 100%;
  }
}

a {
  background-color: transparent;
  color: var(--color-link);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  &:hover {
    color: var(--color-link-light);
    text-decoration: underline;
  }
  &:active {
    background-color: var(--color-link-dark);
    color: var(--color-link-fore);
    text-decoration: none;
  }
  &:visited {
    color: var(--color-link-dark);
  }
}

:focus {
  outline-offset: 2px;
  outline: 2px solid var(--color-meta);
  -moz-outline-radius: var(--radii);
}

[disabled] {
  opacity: 0.6;
  user-select: none;
}
