*,
*:after,
*:before
  box-sizing border-box

html
  scroll-behavior smooth

body
  margin 0
  height 100vh

header,
main,
footer
  max-width 1024px
  margin 0 auto

mark
  color var(--color-meta-fore)
  background-color var(--color-meta-dark)

small
  font-size 0.75em
  font-weight 100

::selection
  color var(--color-meta-fore)
  background-color var(--color-meta-light)

:focus
  outline-offset 2pt
  outline 2pt solid var(--color-meta)
  -moz-outline-radius calc(2pt + var(--radii))

:disabled
  color var(--color-fore-line)
  cursor default
  outline none
  pointer-events none
  user-select none
