@require '_color'

*,
:after,
:before
  box-sizing: border-box

html
  color: var(--color-fore)
  background-color: var(--color-back)
  font: 14pt/1.15 Inter, sans-serif
  font-weight: 350
  scroll-behavior: smooth
  transition: background-color 200ms, color 200ms

  @media (min-width: 768px)
    font: 16pt/1.25 Inter, sans-serif

body
  margin: 0
  height: 100vh
  overflow: overlay

mark
  meta-back()

::selection
  inverted()

:focus
  outline-offset: 2px
  outline: 2px solid var(--color-meta)
  -moz-outline-radius: calc(2px + var(--radii))

[disabled]
  cursor: default
  opacity: 0.6
  pointer-events: none
  user-select: none
