@require '_util'

a
  color: var(--color-link-dark)
  background-color: transparent
  cursor: pointer
  display: inline-block
  text-decoration: none

  &:hover
    color: var(--color-link-fore)
    background-color: var(--color-link)
