@require '_color'

code,
kbd,
pre
  font-family monospace

code,
pre
  background-color var(--color-back-line)
  padding 1rem 1.4rem
  border none

pre
  white-space pre-wrap

kbd
  inverted()
  border-radius var(--radii-small)
  box-shadow 0 4pt #aaa
  font-weight bold
  padding 2pt 1pt
