//
// Nav
//

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	h1 {
		margin: 0.5em;
	}
	ul, ol {
		display: flex;
		li {
			list-style: none;
			margin: 0 0.5rem;
		}
	}
}
