//
// Nav
//

@use 'util'

nav
  @include util.noselect
  @include util.spread
  align-items: center
  padding: 0 1rem

  ul, ol
    display: flex

    li
      list-style: none
      margin: 0 0.5rem
