@require '_util'

nav
  noselect()
  middle()
  flex-wrap wrap
  gap 2rem
  padding 1.5rem 0

  > *
    margin 0
    line-height 1

  & > ul,
  & > ol
    display flex
    flex-wrap wrap
    gap 1.5rem
    padding 0

    & > li
      list-style none

  @media (min-width 768px)
    justify-content space-between
    padding 1.5rem 2rem
