button,
code,
details,
fieldset,
img,
input,
pre,
select,
textarea
  border-radius var(--radii)

kbd
  border-radius var(--radii-small)

blockquote
  border-top-right-radius var(--radii)
  border-bottom-right-radius var(--radii)
