//
// Skeleton
//

*, :after, :before {
  box-sizing: border-box;
  line-height: inherit;
  font-size: inherit;
  user-select: none;
}

html {
  color: var(--color-fore);
  background-color: var(--color-back);
  font-family: Inter, sans-serif;
  font-size: 16pt;
  font-weight: 350;
  line-height: 1.25;
}

body {
  margin: 0;
  height: 100vh;
  overflow: overlay;
}

::-moz-selection,
::selection {
  color: var(--color-meta-fore);
  background-color: var(--color-meta);
}
