:root
  --gap 2rem

  --radii 5pt
  --radii-small 2.5pt

  --color-fore       #1a1a1a
  --color-back       #efefef
  --color-back-line  #c9c9c9

  --color-link-light #fe9ab8
  --color-link       #f4679d
  --color-link-dark  #de3e80
  --color-link-fore  var(--color-back)

  --color-meta-light #e4c6fa
  --color-meta       #cd9ef7
  --color-meta-dark  #a56de2
  --color-meta-fore  var(--color-fore)

  --color-done #A3CB38
  --color-info #F79F1F
  --color-warn #EE5A24
  --color-fail #EA2027

  @media (prefers-color-scheme dark)
    --color-fore       #eee
    --color-back       #000
    --color-back-line  #1a1a1a

    --color-link-light #8cd5ff
    --color-link       #64baff
    --color-link-dark  #3689e6
    --color-link-fore  var(--color-back)

    --color-meta-light #89ffdd
    --color-meta       #43d6b5
    --color-meta-dark  #28bca3
    --color-meta-fore  var(--color-back)
