:root
  --gap-small   0.5rem
  --gap         1.25rem
  --gap-large   3rem

  --radii-small 2.5pt
  --radii       4pt
  --radii-large 5.5pt

  --color-fore       #1a1a1a
  --color-fore-line  #353535
  --color-back       #efefef
  --color-back-line  #c9c9c9

  --color-link-light #fe9ab8
  --color-link       #f4679d
  --color-link-dark  #de3e80
  --color-link-fore  var(--color-back)

  --color-meta-light #e4c6fa
  --color-meta       #cd9ef7
  --color-meta-dark  #a56de2
  --color-meta-fore  var(--color-fore)

  --color-done #a3cb38
  --color-info #f79f1f
  --color-warn #ee5a24
  --color-fail #ea2027

  color var(--color-fore)
  background-color var(--color-back)
  accent-color var(--color-meta)

  @media (prefers-color-scheme dark)
    --color-fore       #dedede
    --color-fore-line  #e5e5e5
    --color-back       #101010
    --color-back-line  #1a1a1a

    --color-link-light #8cd5ff
    --color-link       #64baff
    --color-link-dark  #3689e6
    --color-link-fore  var(--color-back)

    --color-meta-light #89ffdd
    --color-meta       #43d6b5
    --color-meta-dark  #28bca3
    --color-meta-fore  var(--color-back)
